/* Navbar container */
.navbar {
  width: 95.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background-color: #0f0f2a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.logo img {
  height: 60px;
  width: auto;
}
/* Desktop nav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(228, 228, 248);
  font-size: 15px;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #0ea5e9;
}

/* Burger icon */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 1.2rem;
}

.burger span {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Tablet & Mobile */
@media (max-width: 992px) {
  .burger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: #0f172a;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }
}
